body
  font-family Arial, sans-serif
  background white
  max-width 800px
  margin 0 auto
  padding 40px 0

  a
    color: #0081FF
    &.active
      color #222
      text-decoration none

  nav
    font-size 1.2em
    margin-bottom 20px
    a
      &.active
        background rgba(255, 249, 228, 0.4)
      margin-right 10px
      padding 4px 8px 1px
      &:last-child
        margin-right 0
      &:first-child
        margin-left -8px

